# .ebextensions/django.config

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: appointment_system.wsgi:application  # Update with your WSGI path

# Environment properties
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: appointment_system.settings  # Update with your settings module
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true

  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_update_pip.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source /var/app/venv/staging-LQM1lest/bin/activate
      pip install --upgrade pip
